main {
    text-align: center;
}

h4.utc-time {
    color: #3771A1;
}

.product-container{
    float: left;
    overflow: hidden;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.center-div{
    margin: 0 auto;
    width: 50%;
}
