<%inherit file="app_base.htm" />

<%block name="site_center">
    <h1 class="text-center">Products</h1>

        <div id="catalog" class="center-div">
        
            <div class="product-tile">
                <div class="product-image"><img class="tile-image" src="${ STATIC_URL }${ product.image_url() }"></img></div>
                <div class="product-name">${ product.name }</div>
                <div class="product-price">$${ product.price }</div>
                <div class="product-name">${ product.description }</div>
            </div>
            <div>
                %for url in product.image_urls():
                    <img class="small-image" src="${ STATIC_URL }${ url }"></img>
                %endfor
            </div>

        </div>

</%block>
