<%inherit file="app_base.htm" />
<script src="/django_mako_plus/dmp-common.min.js"></script>
<%block name="title">Home</%block>

<%block name="header_maintenance">My house is on fire, Do Not call me tonights</%block>

<%block name="menu">
    <li class="nav-item"><a class="nav-link" href="#">Stupid thing</a></li>
</%block>

<%block name="site_center">
    jfdisoaspfjdspofjdoispaj
</%block>
<%block name="site_left">
    jfdisoaspfjdspofjdoispaj
</%block>
<%block name="site_right">
    jfdisoaspfjdspofjdoispaj
    Nostrud ut ut elit exercitation minim occaecat non magna sunt.
</%block>
